/* makes sizing simpler */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */

html {
  color-scheme: dark light;
}

/* min body height */

body {
  min-height: 100vh;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
/* start */

body {
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  max-width: 65vw;
  margin-left: auto;
  margin-right: auto;
}

footer {
  margin-top: auto;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  height: 3rem;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding-left: 8rem;
  padding-right: 8rem;
}

.top-nav {
  display: flex;
  gap: 1rem;
  font-size: 18px;
}

header,
footer,
.hero-section {
  background-color: #1f2937;
}

.header-logo,
.top-nav,
.footer,
.hero-section {
  color: #f9faf8;
}

.header-logo {
  font-size: 24px;
  font-weight: 700;
}

header a {
  text-decoration: none;
}

.hero-section {
  display: flex;
  padding: 6rem 8rem;
  gap: 2rem;
}

.hero-img,
.title {
  flex: 1;
}

.title h1 {
  font-size: 48px;
  font-weight: 900;
}

.title p {
  font-size: 18px;
  color: #e5e7eb;
}

.title-button {
  background-color: #3882f6;
  text-align: center;
  padding: 0.3rem 1.5rem;
  border: none;
  border-radius: 6px;
  margin-top: 10px;
}

.info-section {
  background-color: white;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 5rem;
}

.info-title {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  margin-bottom: 2rem;
}

.info-cards {
  display: flex;
  gap: 2.5rem;
  justify-content: center;
}

.card {
  flex-basis: 150px;
  flex: 1 1 basis;
}

.card p {
  color: #1f2937;
  font-size: 16px;
  margin-top: 8px;
}

.card img {
  border: 3px solid #3882f6;
  border-radius: 12px;
}

.testimonial-section {
  background-color: #e5e7eb;
  padding: 6rem 8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}

.testimonial {
  font-weight: 300;
  font-style: italic;
  font-size: 36px;
  color: #1f2937;
}

.signature {
  font-weight: 700;
  font-size: 24px;
  margin-right: 4rem;
}

.coa-section {
  padding: 6rem 8rem;
}

.coa {
  display: flex;
  background-color: #3882f6;
  justify-content: space-between;
  align-items: center;
}

.coa-button {
  background-color: #3882f6;
  text-align: center;
  padding: 0.3rem 1.5rem;
  border: 2px solid #e5e7eb;
  border-radius: 6px;
  margin-top: 10px;
}
